<%- include("layout/header")  %>

  <!-- Hero Section -->
  <div class="">
    <img src="/banner/training.png" alt="Training background" class="w-full h-full ">
  </div>
  <!-- Main Content -->
  <main class="mt-2 mb-8">
    <!-- Contact Info -->
    <h2 class="text-blue-800 font-semibold text-lg mb-4">CONTACT US</h2>
    <div class="grid grid-cols-2 gap-8">
      <section class="space-y-4">
        <div class="flex flex-col gap-4">
          <img src="/assets/building.jpg" alt="Office Image" class="">
          <div>
            <address class="text-gray-600">
              <b>SITS -Secure Info-Tech Solutions, LLC</b><br>
                13800 Coppermine Road<br>
                Herndon, VA 20171<br>
                Phone: 703-787-0268<br>
                Fax: 703-234-1201<br>
                Email: <a href="mailto:info@sitstechs.com" class="text-blue-600 hover:underline">.....com</a>
            </address>
        </div>
      </div>
     </section>

      <!-- Contact Form -->
     <section class="">
      <form class="space-y-4">
        <div class="space-y-4">
          <div class="flex">
            <input type="text" id="firstName" name="firstName" placeholder="NAME" class="flex-grow border border-black focus:ring-blue-500 focus:border-blue-500 p-2 ">
          </div>
          <div class="flex">
            <input type="email" id="email" name="email" placeholder="EMAIL" class="flex-grow border border-black focus:ring-blue-500 focus:border-blue-500 p-2">
          </div>
          <div class="flex">
            <input type="tel" id="phone" name="phone" placeholder="PHONE" class="flex-grow border border-black focus:ring-blue-500 focus:border-blue-500 p-2">
          </div>
          <div class="flex md:col-span-2"> 
            <input type="text" id="address" name="address" placeholder="ADDRESS" class="flex-grow border border-black focus:ring-blue-500 focus:border-blue-500 p-2">
          </div>
          <div class="flex md:col-span-2">
            <textarea id="comments" name="comments" placeholder="MESSAGE" rows="4" class="flex-grow border border-black focus:ring-blue-500 focus:border-blue-500 p-2"></textarea>
          </div>
        </div>
        <!-- <div class="flex mt-4">
          <input type="checkbox" id="certify" name="certify" class="h-4 w-4 focus:ring-blue-500 border border-black">
          <label for="certify" class="ml-2 block text-xs">I Certify that above information is correct.</label>
        </div> -->
        <button type="submit" class="mt-4 text-lg font-bold text-white bg-blue-500 border border-black py-1 px-3 hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Submit</button>
      </form> 
    </section>
  </div>
</main>

 <!-- Footer -->
 <%- include("layout/footer")  %>