 <!-- Footer -->
 <footer class="text-center mt-8 ">
    <div id="mainbodybottom1"></div>
    <p class="text-white h-4" style="background-color:#102d6e;">Secure Mabridge © 2008-2012 All rights carefully reserved and preserved.</p>

    <div class="h-auto flex flex-row float-right pr-14 pt-5 pb-8 text-right">
      <img src="/assets/tw.png" width="80" height="23">&nbsp;&nbsp;
      <img src="/assets/fb.jpg" width="82" height="23">
    </div>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="/scripts/slider.js"></script>
</body>
</html>
